extends layout

block content
    div.container
        header
            div.title
                h1 html5Gaming
        div#containerMainMenu.block
            div.main
                p Hello and welcome to our reflex tester.
                br
                p Prove that you are more reactive than oyster by avoiding obstacles that litter the stage, Simply move the mouse! Caution! More doors you walk over, more the difficulty increases
                p HeadSet is recommended.
                p Post your scores and climb the leaderboard!
                p gl & hf
            div.buttons
                p
                    a#btnStart(class="btn btn-primary btn-big btn-icon")
                        i.icon-play
                            span.text Play
                p
                    a#btnswitchMainToLeaders
                        i.icon-list View the leaders

        div#containerEndMenu.block
            div(class="block-title finish")
                h2.fail You loose !!!!
            div
                ul.players
                    li#closestScore1
                    li#YouAreHere.user
                    li#closestScore2
                div(class="buttons blackbg")
                    div.submitform
                        p Submit your score :
                        p#submitResponse.success Score sended ! ;)
                        form#publish0(action="")
                            input#addname(type="text")
                            a#publish.btn Submit

                    p
                        a#btnswitchEndToLeaders()
                            i.icon-list View the leaders
                    p
                        a#btnReStart(class="btn btn-primary btn-big btn-icon")
                            i.icon-play
                                span.text Play again
        div#leaderboardsMenu.block
            div.block-title
                h2 Top 10 players :
            div
                ul.players
                    li#leader

            div.buttons
                p
                    a#btnMainMenu0 &larr; Back to main menu
