extends layout

block content
    div#containerMainMenu
        h1#mainTitle html5Gaming
        input#btnStart(type="button" value ="Play")
        input#btmMLB(type="button" value ="Leaderboards" )

    div#containerEndMenu
        h1#titleEnd FIN
        input#btnPublishScore(type="button" value ="PublishScore")
        input#btnReStart(type="button" value ="Play Again" )
        input#btnMainMenu(type="button" value ="Back to the main menu")
        input#btmLB(type="button" value ="Leaderboards" )
