extends layout

block content
    div.container
        header
            div.title
                h1 html5Gaming
        div#containerMainMenu.block
            div.main
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, laborum rerum architecto repellendus consequatur est quis cupiditate. Dolorum, praesentium, unde, nesciunt, id deserunt quos officiis aliquam tempora quidem corporis porro. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, laborum rerum architecto repellendus consequatur est quis cupiditate. Dolorum, praesentium, unde, nesciunt, id deserunt quos officiis aliquam tempora quidem corporis porro.</p>
                p Recusandae, laborum rerum architecto repellendus consequatur est quis cupiditate. Dolorum, praesentium, unde, nesciunt, id deserunt quos officiis.
            div.buttons
                p
                    a#btnStart(class="btn btn-primary btn-big btn-icon")
                        i.icon-play
                            span.text Play
                p
                    a#btnswitchMainToLeaders
                        i.icon-list View the leaders

        div#containerEndMenu.block
            div(class="block-title finish")
                h2.fail You loose !!!!
            div
                ul.players
                    li#closestScore1
                    li#YouAreHere.user
                    li#closestScore2
                div(class="buttons blackbg")
                    div.submitform
                        p Submit your score :
                        p#submitResponse.success Score sended ! ;)
                        form#publish0(action="")
                            input#addname(type="text")
                            a#publish.btn Submit

                    p
                        a#btnswitchEndToLeaders()
                            i.icon-list View the leaders
                    p
                        a#btnReStart(class="btn btn-primary btn-big btn-icon")
                            i.icon-play
                                span.text Play again
        div#leaderboardsMenu.block
            div.block-title
                h2 Top 10 players :
            div
                ul.players
                    li#leader

            div.buttons
                p
                    a#btnMainMenu0 &larr; Back to main menu
