doctype 5
html
  head
    title= html5Gaming
    link(rel="stylesheet", type="text/css", href='http://fonts.googleapis.com/css?family=Galindo|Jockey+One|Russo+One|Faster+One')
    link(rel="stylesheet", type="text/css", href="stylesheets/css/style.css")
    link(rel="stylesheet", type="text/css", href="stylesheets/css/icons.css")
    link(rel="stylesheet", type="text/css", href="stylesheets/style.css")
    script(src="https://rawgithub.com/mrdoob/three.js/master/build/three.js")
    script(src="http://code.jquery.com/jquery-2.0.3.min.js")
    script(src="stylesheets/js/index.js")
    script(src="javascripts/Curves.js")
    script(src="javascripts/script.js")
    script(src="javascripts/main.js")


  body
    block content
