div:before,
div:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
div:after {
  clear: both;
}
html {
  margin: 0;
  padding: 0;
  background-color: black;
}
body {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 18px;
  line-height: 1.5;
  background-image: url('../img/bg.svg');
  background-repeat: no-repeat;
  background-position: top center;
  font-family: 'Jockey One', 'Helvetica', sans-serif;
}
.container {
  width: 1200px;
  display: block;
  margin: 0 auto;
}
.title {
  text-align: center;
  font-size: 5em;
  color: #209ad5;
  text-shadow: 0px 0px 20px #209ad5;
  text-shadow: 0 0 80px black;
}
h1,
h2 {
  margin: 0;
}
p {
  margin: 0.5em 0 1em;
}
.block {
  margin: 0 auto 2em;
  padding: 2em;
}
.main {
  width: 600px;
  margin: 0 auto;
}
.block-title {
  color: #209ad5;
  text-align: center;
  margin-top: -2em;
}
.buttons {
  margin: 2em 0;
  text-align: center;
}
.buttons.blackbg {
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.8);
}
a {
  text-decoration: none;
  color: #209ad5;
}
a:hover,
a:active {
  color: #5bb9e6;
  border-bottom: 1px dotted #5bb9e6;
}
.btn,
a.btn {
  font-weight: normal;
  display: inline-block;
  padding: 0.25em 1em;
  color: white;
  background-color: #209ad5;
  border: 2px solid #5bb9e6;
}
.btn:hover,
a.btn:hover {
  border-color: white;
  color: white;
  background-color: #197aa9;
}
.btn.btn-icon,
a.btn.btn-icon {
  padding-left: 0.5em;
}
.btn.btn-big,
a.btn.btn-big {
  font-size: 4em;
}
.submitform {
  font-size: 1.5em;
  margin-bottom: 2em;
}
.submitform input,
.submitform .btn {
  padding: 0.75em 1em;
  display: inline;
  vertical-align: middle;
}
.submitform .btn {
  padding: 0.5em 1em;
}
.submitform input {
  width: 200px;
  font-family: 'Jockey One', 'Helvetica', sans-serif;
  font-size: 18px;
  margin-right: 1em;
  height: 2.2em;
  border: 2px solid transparent;
}
.submitform input:focus {
  outline: 0;
  border-color: #209ad5;
}
.players {
  list-style: none;
  padding: 0.5em 1em;
}
.players li {
  font-size: 1.25em;
  margin-bottom: 0.5em;
  text-align: center;
}
.players li .name,
.players li .score,
.players li .rank {
  padding: 0.2em 0.5em;
}
.players li .score {
  color: #209ad5;
}
.players li .rank {
  color: #ffb327;
}
.players li.user span {
  background-color: #333333;
  color: #ffb327;
}
.success {
  color: #90e423;
}
.fail {
  color: #ff3b27;
}
