body {
	margin: 0;
	padding: 0;
}

 /*Main Menu*/

#containerMainMenu{
    z-index: 0;
}

#mainTitle{
    position: absolute;
    z-index: 1000;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

#btnStart{
    position: absolute;
    z-index: 1000;
    margin-top: 200px;
    text-align: center;
}

#btmMLB{
    position: absolute;
    z-index: 1000;
    margin-top: 400px;
    text-align: center;
}


/*End Menu*/

#containerEndMenu{
    display: none;
    z-index: 0;
}

#btnPublishScore{
    position: absolute;
    z-index: 1000;
    margin-top: 10px;
    text-align: center;
}

#btnReStart{
    position: absolute;
    z-index: 1000;
    margin-top: 200px;
    text-align: center;
}

#btnMainMenu{
    position: absolute;
    z-index: 1000;
    margin-top: 400px;
    text-align: center;
}

#btmLB{
    position: absolute;
    z-index: 1000;
    margin-top: 600px;
}

